@model BandAid.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <title>BandAid</title>
    <link href="~/LoginRegPage/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/LoginRegPage/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/LoginRegPage/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/LoginRegPage/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link href="~/LoginRegPage/css/main.css" rel="stylesheet" media="all">
    <link href="~/LandingPage/css/style.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registracija</h2>
                    <form role="form" asp-action="Registration" asp-controller="User" method="post">
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Naziv" name="Name">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="Email">
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="gender">
                                    <option disabled="disabled" selected="selected">Uloga</option>
                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        if (role.Name != "Admin")
                                        {

                                            <option>@role.Name</option>
                                        }

                                    }
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Zaporka" name="PassHash">
                        </div>
                        
                        <div class="p-t-10">
                            <button class="btn btn-primary py-3 px-5 text-white" type="submit">Registriraj</button>
                        </div>
                        <div>
                            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                            {

                                <label class="alert-success">@ViewBag.Message</label>
                            }

                            else
                            {

                                <label class="alert-danger">@ViewBag.Message</label>
                            }


                        </div>
                        <div>
                            <button class="btn-xs" asp-controller="User" asp-action="Login"> Prijava </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/LoginRegPage/vendor/jquery/jquery.min.js"></script>
    <script src="~/LoginRegPage/vendor/select2/select2.min.js"></script>
    <script src="~/LoginRegPage/js/global.js"></script>
</body>
</html>